/* table.module.css */

/* Kelas lokal untuk table */
.table {
  inline-size: 100%;
  border-collapse: collapse;
  font-size: 0.8125rem;
  white-space: nowrap;
}

.table th,
.table td {
  padding-right: 1.5rem; /* Menambahkan jarak antar kolom */
}

.table [align='right'] > * {
  text-align: end;
}

.table [align='center'] > * {
  text-align: center;
}

.table thead {
  text-transform: uppercase;
  color: var(--mui-palette-text-primary);
  /* border-block-start: 1px solid rgb(47 43 61 / 0.12); */
}

/* Kelas lokal untuk th */
.tableTh {
  padding-right: 1rem;
  font-weight: 500;
  font-size: 0.8125rem;
  letter-spacing: 0.2px;
  line-height: 1.8462;
  text-align: start;
  block-size: 56px;
}

.tableTh:not(:first-of-type):not(:last-of-type) {
  padding-block: 0.5rem;
  padding-inline: 0 1rem 0 0;
}

.tableTh:first-of-type {
  padding-block: 0.5rem;
  /* padding-inline: 1.5rem 1rem; */
  /* padding-inline: 0 1rem 0 0; */
}

.tableTh:last-of-type {
  padding-block: 0.5rem;
  padding-inline: 1rem 1.5rem;
}

/* Kelas lokal untuk tbody dan td */
.tableTbody {
  color: var(--mui-palette-text-secondary);
}

.tableTbody td,
.tableTbody th {
  font-size: 0.9375rem;
  line-height: 1.4667;
  block-size: 50px;
}

.tableTbody td:first-of-type {
  padding-block: 0.5rem;
  /* padding-inline: 1.5rem 1rem; */
  padding-inline: 0 1rem 0 0;
}

.tableTbody td:last-of-type {
  padding-block: 0.5rem;
  padding-inline: 1rem 1.5rem;
}

.tableTbody td {
  padding-block: 0.5rem;
  padding-inline: 0 1rem 0 0;
}

.tableTbody tr:not(:last-child) {
  border-block-end: 1px solid rgb(47 43 61 / 0.12);
}

.tableTbody tr {
  border-block-start: 1px solid rgb(47 43 61 / 0.12);
}

.tableTbody tr:first-child {
  border-block-start: none;
}

